<div th:fragment="navbar(activePage)">
    <div class="d-flex align-items-center gap-3">
            <!-- ajout de role="button" pour que les lecteurs d'écran comprennent que ces des boutons -->       
            <!-- @{...} Génère dynamiquement l'URL complète (chemain absolu compris) -->
            <!-- Accessible à l'administrateur uniquement -->
            <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" href="#" class="btn btn-outline-secondary" role="button" th:attr="autofocus=${activePage == 'admin' ? 'true' : null}">Voir tous les utilisateurs</a>
            <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" href="#" class="btn btn-outline-secondary" role="button">Modifier un utilisateur</a>
            <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" href="#" class="btn btn-outline-secondary" role="button">Supprimer un utilisateur</a>
            <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="@{/admin/transactions}" th:classappend="${activePage == 'transactions' ? 'btn-primary' : 'btn-outline-secondary'}" class="btn" role="button">Historique des transactions</a>            

            <!-- Accessible à tous (utilisateurs et admin) -->
            <a th:href="@{/transfer}" th:classappend="${activePage == 'transfer' ? 'btn-primary' : 'btn-outline-secondary'}" class="btn" role="button" th:attr="autofocus=${activePage == 'user' ? 'true' : null}">Transférer</a>
            
            <!-- Visible uniquement pour les utilisateurs (pas les admins) -->
            <a th:if="${#authorization.expression('hasRole(''USER'')')}" th:href="@{/profile}" th:classappend="${activePage == 'profile' ? 'btn-primary' : 'btn-outline-secondary'}" class="btn" role="button">Profil</a>

            <!-- Accessible à tous (utilisateurs et admin) -->
            <a th:href="@{/connection}" th:classappend="${activePage == 'connection' ? 'btn-primary' : 'btn-outline-secondary'}" class="btn" role="button">Ajouter Relation</a>
            
            <div class="ms-auto"> 
                <form th:action="@{/logout}" method="post" class="d-inline">
                    <button type="submit" class="btn btn-outline-danger">Se déconnecter</button>
                </form>
            </div> 
    </div>
</div>
